@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #555555;
}

.container {
  display: flex;
  width: 100vw; 
  height: 100vh;
}

.lado-esquerdo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 30%;
  background-color: white;
}

.lado-direito {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex: 0 0 70%;
  background-color: #f1f3f6; 
}

h1{
  font-size: 20px;
  padding-top: 23px;
  font-weight: bold;
}


#logo{
  width: 218px;
}

.input-box1{
  width: 80%;
  color: #555555;
  font-weight: 400;
  font-size: 16px;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.input-box2{
  width: 80%;
  color: #555555;
  font-weight: 400;
  font-size: 16px;
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.input{
  display: flex;
}

.inner-input{
  color: #555555;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: #f1f3f6;
  border: none;
  display: flex;
  padding-left: 10px;
}

.inner-input:focus{
  outline: none;
  box-shadow: 0 0 0 3px rgba(249, 183, 112, 0.3);
}

#logo-email,
#logo-password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50px;
  border-radius: 6px;
  background-color: #fd7401;
}

.link {
  width: 80%;
  color: #1a237e;         
  text-decoration: underline; 
  font-weight: 500;
  display: flex;
  justify-content: end;
  margin-top: 13px;
  font-size: 16px;
  font-weight: 400;
}

.buttonLogin{
  background-color: #FD7401;
  width: 80%;
  color: #FFFFFF;
  margin-top: 33px;
  transition: box-shadow 0.3s ease;
}

.buttonLogin:hover{
   box-shadow: 0px 10px 10px rgba(249, 183, 112, 0.3);
}

.buttonLogin:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(253, 116, 1, 0.5);
}

.buttonSignup{
  background-color: #FFFFFF;
  width: 80%;
  color: #FD7401;
  margin-top: 30px;
  border: #FD7401 1px solid;
  transition: box-shadow 0.3s ease;
}

.buttonSignup:hover{
  box-shadow: 0px 10px 10px rgba(249, 183, 112, 0.3);
}

.buttonSignup:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(253, 116, 1, 0.5);
}

.divider {
  margin-top: 30px;
  width: 80%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #C2C2C2
}


.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: 0.75em;
}

.divider:not(:empty)::after {
  margin-left: 0.75em;
}